@font-face {
    font-family: PressStart2P-Regular;
    src: url('font/PressStart2P-Regular.ttf') format('truetype');
}

@media only screen and (max-width: 1200px) {
    body {
        min-width: 1200px;
    }
}

.text-input {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 3px solid rebeccapurple;
    outline: none;
    line-height: 1.5rem;
    font-family: 'Cascadia Code';
    font-size: 1.2em;
    padding: .7rem 1rem;
    color: rebeccapurple;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: rgba(0,163,105,0.5);
}

header {
    background: rgba(8 57 40);
    height: 80px;
    font-family: PressStart2P-Regular;
}

header *{
    color: #ffd800;
}


header .logo{
    float: left;
    height: inherit;
    margin-left: 10px;
    
}

header .page-name {
    color: #ff7f7f;
    margin: 20px;
    padding: 10px;
    float: left;
    height: inherit;
    text-align: center;
    font-size: 30px;
}

header .logo img{
    height: 82px;
}

.nav {
    margin-right: 50px;
    position: relative;
    display: inline-block;
    z-index: 9999;
}

header ul{
    display: block;
    float: right;
    margin: 0px;
    padding: 12px;
    list-style: none;
}

header ul li{
    display: block;
    float: left;
    position: relative;
}

header ul li ul{
    display: block;
    position: absolute;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 11px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    display: block;
    width: 180px;
}

.dropdown-content li a {
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header ul li a:hover {
    border-radius: 20px;
    background-color: #ffd800;
    color: #ff7f7f;
    transition: 0s;
}

.dropdown-content .logout{
    color: red;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background: rgb(8 57 40);
    height: 360px;
    font-family: PressStart2P-Regular;
}

.footer-content {
    height: 350px;
    color: grey;
    display: flex;
}

.footer-content .footer-section {
    flex: 1;
    padding: 25px;
    border: 1px solid white;
}

.about-title {
    color: #ff7f7f;
    font-size: 13px;
    margin: 2px;
    list-style: none;
}

.footer-content h1, .footer-content h2 {
    color: white;
}

.footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer-content .contact-form .contact-input {
    color: gray;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
}

.footer-content .contact-form .contact-input:focus {
    background: rgb(168 255 225);
}

.contact-btn {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    background: rgb(131 185 166);
    color: grey;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.3s;
    float: right;
}

.contact-btn:hover {
    color: rgba(8 57 40) !important;
    background: rgb(168 255 225);
    transition: all 0.3s;
    
}

.footer-bottom {
    background: rgb(0 193 126);
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}