@font-face {
	font-family: PressStart2P-Regular;
	src: url('font/PressStart2P-Regular.ttf') format('truetype');
}

@media only screen and (max-width: 1200px) {
    body {
        min-width: 1200px;
    }
}

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: rgb(152,120,120,0.10);
}

.admin-wrapper {
    height: calc(100% - 83px);
    display: flex;
}

.admin-wrapper .left-sidebar {
    flex: 2;
    height: 100%;
    background-color: #ff7d00;
    position: fixed; /* Sabit konumda olmasını sağlar */
    top: 0; /* Sidebar'ın üst kısmının ekranın üst kısmına yapışmasını sağlar */
    left: 0; /* Sidebar'ın sol kısmının ekranın sol kısmına yapışmasını sağlar */
    width: 22%;
}

.border-un {
    background: rgb(99 189 165);
    margin: 10px;
    padding: 2px;
    border-radius: 20px;
    border: 5px solid black;
}

.admin-wrapper .left-sidebar .username {
    text-align: center;
    color: rgb(255 127 127);
    background: rgb(217 255 233);
    border-radius: 20px;
    margin: 12px;
    padding: 20px;
    font-family: PressStart2P-Regular;
    text-shadow: 2px 2px 4px rgb(117 156 143);
    box-shadow: 5px 5px rgb(97 97 97);
    line-height: 1.2;
}

.admin-wrapper .left-sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: red;
}

.admin-wrapper .left-sidebar ul li a {
    padding: 18px;
    display: block;
    text-decoration: none;
    color: rgb(217 255 233);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    transition-duration: 0.3s;
    background: black;
    border-radius: 20px;
    margin: 10px; 
}

.admin-wrapper .left-sidebar ul li a:hover {
    background: white;
    border-radius: 20px;
    color: rgb(99 189 165);
}

.admin-wrapper .admin-content {
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
    width: 60%;
    margin-left: 400px;
}

.admin-content .button-group {
    margin-bottom: 1.5rem;
    font-size: 20px;
}

/* CREATE SAYFASI İÇİN EKLEDİKLERİM */

.content {
    flex: 8;
    height: 100%;
    margin-top: 50px;
    margin-right: 20px;
    padding: 10px 20px 20px;
    overflow-y: hidden;
    margin-left: 360px;
    background: #63bda5;
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(97 97 97);
}

.from {
    background: #d9ffe9;
    box-shadow: 5px 5px rgb(97 97 97);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.1rem;
}

.from div {
    padding: 12px;
    text-align: left;
}

.from label {
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.from select {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(99 189 165); 
    padding: 4px;
    border: 3px solid black;
    border-radius: 10px;
}

option {
    font-size: 20px;
}

.btn {
    margin-top: 30px;
    padding: 10px;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 3px solid black;
    background: rgb(99 189 165);
    border-radius: 10px;
    font-size: 20px;
    width: 100px;
}

.btn:hover {
    background: rgb(217 255 233);
    border-radius: 10px;
    color: black;
    box-shadow: 5px 5px rgb(97 97 97);
}

.page-title {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    background: #d9ffe9;
    box-shadow: 5px 5px rgb(97 97 97);
    border-radius: 10px;
} 

.text-input {
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 20px;
}
